<div hx-target="this" class="">
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            <div class="row d-flex">
                <div class="col align-self-center">
                    <i class="bi bi-calendar3"></i>
                    <strong>
                        {{ calendar.name }}
                    </strong>
                    {{ calendar.timezone }}
                    <input hidden id="calendar_file_url{{calendar.id}}" value="https://{{domain_name}}{% url 'calendars:calendar_file' calendar.uuid %}">
                    <button onclick="copyFileUrl({{calendar.id}})" class="btn btn-info" type="button">
                       copy
                    </a>
                    </button>
                </div>
                <div class="col align-self-center text-end">
                    <button hx-get="{% url 'calendars:update-calendar' calendar.id %}" hx-swap="outerHTML"
                        class="btn btn-primary" type="button">
                        <i class="bi bi-pencil-square"></i><span class="d-none d-lg-inline"> Update </span>
                    </button>
                    <button hx-post="{% url 'calendars:delete-calendar' calendar.id %}" hx-confirm="Are you sure you'd like to delete {{calendar.name}}?" hx-swap="outerHTML swap:1s"
                        class="btn btn-danger" type="button">
                        <i class="bi bi-trash"></i> </i><span class="d-none d-lg-inline"> Delete </span>
                    </button>
                </div>
            </div>
        </li>
        {% for source in calendar.calendarOf.all %}
            {% include "calendars/partials/source_detail.html" %}
        {% endfor %}
        <div id="sourceforms{{calendar.id}}" class=""></div>
        <li class="list-group-item text-end">
            <div>
                <button type="button" hx-get="{% url 'calendars:create-source-form' calendar.id %}" hx-target="#sourceforms{{calendar.id}}" hx-swap="beforeend"
                       class="btn btn-primary">
                       Add External Calendar
                   </button>
            </div>
        </li>
    </ul>
</div>
