<div hx-target="this" class="">
    <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
            <div class="row d-flex">
                <div class="col-auto align-self-center">
                    <input hidden id="calendar_file_url{{calendar.id}}" value="https://{{domain_name}}{% url 'calendars:calendar_file' calendar.uuid %}">
                    <button onclick="copyFileUrl({{calendar.id}})" class="btn btn-primary" type="button" title="Add this link to your calendar client">
                        <i class="bi bi-clipboard-check"></i>
                        Subscribe
                    </button>
                    <a href={% url 'calendars:instructions' %} class="btn" type="button" data-toggle="tooltip" data-placement="bottom" title="How to Add a Calendar Feed to Google Calendar">
                        <i class="bi bi-info-circle"></i>
                    </a>

                </div>
                <div class="col align-self-center text-center lead">
                    <strong title="The calendar name that will show up in your calendar client">
                        <a href="{% url 'calendars:calendar-view' uuid=calendar.uuid %}" title="View Calendar">
                          <i class="bi bi-calendar3"></i>
                            {{ calendar.name }}
                        </a>
                    </strong>
                    &middot;
                    <span title="Timezone">
                        {{ calendar.timezone }}
                    </span>
                </div>
                <div class="col-auto align-self-center">
                    <button hx-get="{% url 'calendars:update-calendar' calendar.id %}" hx-swap="outerHTML"
                        class="btn btn-outline-secondary" type="button">
                        <i class="bi bi-pencil-square"></i><span class="d-none d-lg-inline"> Update </span>
                    </button>
                    <button hx-post="{% url 'calendars:delete-calendar' calendar.id %}" hx-confirm="Are you sure you'd like to delete {{calendar.name}}?" hx-swap="outerHTML swap:1s"
                        class="btn btn-outline-danger" type="button">
                        <i class="bi bi-trash"></i> </i><span class="d-none d-lg-inline"> Delete </span>
                    </button>
                </div>
            </div>
        </li>
        {% for source in calendar.calendarOf.all %}
            {% include "calendars/partials/source_detail.html" %}
            {% endfor %}
            <li class="list-group-item d-flex justify-content-end align-items-center">
              <div class="form-check form-switch me-auto">
                <input class="form-check-input" type="checkbox" id="annotateEventsSwitch{{calendar.id}}"
                hx-get="{% url 'calendars:toggle-include' uuid=calendar.uuid %}"
                {% if calendar.include_source %}checked{% endif %}
                hx-trigger="change"
                hx-target="#dummyResponse{{calendar.id}}"
                data-bs-toggle="tooltip" data-bs-placement="top"
                title="Turn this on to include the remote calendar's name in each event title. For example, 'Remote_Calendar_Name: Event_Title'.">
                <label class="form-check-label" for="annotateEventsSwitch{{calendar.id}}">Include Feed Name in Event Titles</label>
              </div>

              <div>
                <button type="button" hx-get="{% url 'calendars:create-source-form' calendar.id %}"
                  hx-target="#sourceforms{{calendar.id}}" hx-swap="beforeend"
                  class="btn btn-outline-secondary ms-2" title="Add a calendar feed">
                  Add Calendar Feed
                </button>
              </div>
              <!-- Dummy div for HTMX response -->
              <div id="dummyResponse{{calendar.id}}" class="d-none"></div>
            </li>


    </ul>
</div>
