{% load crispy_forms_tags %}

<li hx-target="this" hx-swap="outerHTML" class="list-group-item">
  <form method="post">
    <div class="row d-flex">
      {% csrf_token %}
      {% crispy form %}
      <div class="col-auto align-self-center text-end">
        {% if source %}
          <button type="submit"
                  hx-post="{% url 'calendars:update-source' source.id %}"
                  class="btn btn-outline-secondary">
            <i class="bi bi-check-square"></i> <span class="d-none d-lg-inline">Submit</span>
          </button>
          <button hx-get="{% url 'calendars:detail-source' source.id %}"
                  type="button"
                  class="btn btn-outline-danger">
            <i class="bi bi-x-circle"></i> <span class="d-none d-lg-inline">Cancel</span>
          </button>
        {% else %}
          <button type="submit"
                  hx-post="{% url 'calendars:manage-source' calendar.id %}"
                  class="btn btn-outline-secondary">
            <i class="bi bi-check-square"></i> <span class="d-none d-lg-inline">Submit</span>
          </button>
        {% endif %}
      </div>
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="align-self-center text-center">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
      {% endif %}
    </div>
  </form>
</li>
