{% if is_trial %}
  <div class="alert alert-warning alert-dismissible fade show rounded-0 mb-0"
       role="alert">
    <div class="container">
      <strong>Trial ending:</strong> {{ trial_days_left }} day
      {% if trial_days_left != 1 %}s{% endif %}
      left.
      <form method="post"
            action="{% url 'billing:manage_billing' %}"
            class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-link alert-link p-0 m-0 align-baseline">Attach a payment method</button>
      </form>
      to continue using the service.
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"></button>
    </div>
  </div>
{% endif %}
