{% load static i18n compress %}
{% load django_htmx %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        MergeCal | Merging multiple iCalendar feeds into one
      {% endblock title %}
    </title>
    <meta property="og:title"
          content="{% block og_title %}MergeCal.org | Merge iCalendar feeds{% endblock og_title %}" />
    <meta property="og:description"
          content="{% block og_description %}MergeCal simplifies your schedule by merging multiple iCalendar feeds into one. Discover seamless calendar management with MergeCal.{% endblock og_description %}" />
    <meta property="og:image"
          content="{% block og_image %}https://mergecal.org{% static 'images/favicon.png' %}{% endblock og_image %}" />
    <meta property="og:url"
          content="{% block og_url %}https://MergeCal.org/{% endblock og_url %}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title"
          content="{% block twitter_title %}MergeCal.org | Merge iCalendar feeds{% endblock twitter_title %}" />
    <meta name="twitter:description"
          content="{% block twitter_description %}MergeCal simplifies your schedule by merging multiple iCalendar feeds into one. Discover seamless calendar management with MergeCal.{% endblock twitter_description %}" />
    <meta name="twitter:image"
          content="{% block twitter_image %}https://mergecal.org{% static 'images/favicon.png' %}{% endblock twitter_image %}" />
    <meta name="twitter:site" content="@abe__101" />
    <meta name="twitter:creator" content="@abe__101" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="{% block meta_description %}MergeCal simplifies your schedule by merging multiple iCalendar feeds into one. Discover seamless calendar management with MergeCal.{% endblock meta_description %}" />
    <meta name="author" content="Abe Hanoka" />
    <meta name="keywords"
          content="{% block meta_keywords %}Calendar, Ical, Ics, Icalendar, Merge, Calendar Feeds, Combine Calendars, Aggregate Calendar, Sync Calendars, Merge Ical, Calendar Integration, Online Calendar, Calendar Management, Calendar Aggregator{% endblock meta_keywords %}" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
            integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet" />
      {% compress css %}
        <!-- This file stores project-specific CSS -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'css/project.css' %}" rel="stylesheet" />
        <link rel="stylesheet" type="text/x-scss" href="{% static "scss/custom-bootstrap.scss" %}" />
      {% endcompress %}
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-1TQF9JJ9Z3"></script>
      <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-1TQF9JJ9Z3');
      </script>
      <!-- place project specific Javascript in this file -->
      <!-- Bootstrap JS -->
      <script defer
              src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.10/htmx.min.js"
              integrity="sha512-9qpauSP4+dDIldsrdNEZ2Z7JoyLZGfJsAP2wfXnc3drOh+5NXOBxjlq3sGXKdulmN9W+iwLxRt42zKMa8AHEeg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      {% compress js %}
        {% django_htmx_script %}
        <script defer src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script defer src="{% static 'js/project.js' %}"></script>
        <script defer src="{% static 'js/theme-toggler.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
      <div class="mb-1">
        {% block navbar %}
          {% include '_navbar.html' %}
        {% endblock navbar %}
      </div>
      <div class="container mt-2">
        <div data-toast-container
             class="toast-container position-fixed top-0 end-0 p-3">
          <div data-toast-template
               class="toast align-items-center border-0"
               role="alert"
               aria-live="assertive"
               aria-atomic="true">
            <div class="d-flex">
              <div data-toast-body class="toast-body"></div>
              <button type="button"
                      class="btn-close btn-close-white me-2 m-auto"
                      data-bs-dismiss="toast"
                      aria-label="Close"></button>
            </div>
          </div>
          {% for message in messages %}
            <div class="toast align-items-center border-0 {{ message.tags }}"
                 role="alert"
                 aria-live="assertive"
                 aria-atomic="true">
              <div class="d-flex">
                <div data-toast-body class="toast-body">{{ message.message }}</div>
                <button type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
              </div>
            </div>
          {% endfor %}
        </div>
        {% block main %}
          {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
          {% endblock content %}
        {% endblock main %}
      </div>
      <!-- /container -->
    {% endblock body %}
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
      <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
      </script>
      <script data-name="BMC-Widget"
              data-cfasync="false"
              src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
              data-id="abe101"
              data-description="Support me on Buy me a coffee!"
              data-message=""
              data-color="#008080"
              data-position="Right"
              data-x_margin="18"
              data-y_margin="18"
              data-bottom="true"></script>
    {% endblock inline_javascript %}
  </body>
</html>
