{% extends "base.html" %}

{% block title %}
  mergecal | My Calendar
{% endblock title %}
{% block javascript %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/ical.js@1.5.0/build/ical.min.js"
          integrity="sha256-uotVKltUv5neKsIlZxrxUccba0PaptusFj6p+w8Sons="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"
          integrity="sha256-J37ZtjEw94oWBNZ9w/XC73raGXE9t10//XHJfKz2QCM="
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@6.1.10/index.global.min.js"
          integrity="sha256-io4G+JpruJtt8SoSUOgLQrhBj/YtQXFgIvkGzBxQAUQ="
          crossorigin="anonymous"></script>
{% endblock javascript %}
{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block inline_javascript %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        themeSystem: 'bootstrap5',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,listYear'
        },
        dayMaxEvents: true,
        initialView: 'listYear',
        eventSources: [{
          url: "{% url 'calendars:calendar_file' calendar.uuid %}",
          format: 'ics',
        }, ]
        // Additional FullCalendar options can go here
      });
      calendar.render();
    });
  </script>
{% endblock inline_javascript %}
