{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div>
    <div>
      <h2>Add calendar URL's for {{ calendar.name }}'s calendar</h2>
    </div>
    <div>
      <button type="button"
              hx-get="{% url 'calendars:create-source-form' %}"
              hx-target="#sourceforms"
              hx-swap="beforeend"
              class="">Add URL</button>
    </div>
  </div>
  <div id="sourceforms"></div>
  <div>
    {% for source in sources %}
      {% include "calendars/partials/source_detail.html" %}
    {% endfor %}
  </div>
{% endblock content %}
