{% extends "base.html" %}

{% load static socialaccount %}

{% block title %}
  User: {{ object.username }}
{% endblock title %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white">
            <h2 class="mb-0">{{ object.username }}</h2>
          </div>
          <div class="card-body">
            {% if object.name %}<p class="lead">{{ object.name }}</p>{% endif %}
            <p>
              Subscription Tier: <strong>{{ object.get_subscription_tier_display }}</strong>
            </p>
            {% if object == request.user %}
              <!-- Action buttons -->
              <div class="mt-4">
                <a class="btn btn-outline-primary me-2"
                   href="{% url 'users:update' %}"
                   role="button">My Info</a>
                <a class="btn btn-outline-primary me-2"
                   href="{% url 'account_email' %}"
                   role="button">E-Mail</a>
                <a class="btn btn-outline-primary me-2"
                   href="{% url 'account_change_password' %}"
                   role="button">Change Password</a>
                <a class="btn btn-outline-primary me-2"
                   href="{% url 'mfa_index' %}"
                   role="button">MFA</a>
                <!-- Manage Billing Form -->
                <form method="post"
                      action="{% url 'billing:manage_billing' %}"
                      class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-primary">Manage billing</button>
                </form>
                <a href="{% provider_login_url "google" process="connect" %}">Connect a Google account</a>
                <!-- End Manage Billing Form -->
              </div>
              <!-- End Action buttons -->
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
