{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-light text-center">
  <div class="container">
    <h1 class="display-4">Welcome to Calmerge</h1>
    <p class="lead">Calmerge is a Django webapp that allows you to merge multiple iCalendar feeds into a single feed. With calmerge, you can easily keep track of events from multiple sources in one place.</p>
    <a class="btn btn-primary btn-lg" href={% url 'about' %} role="button">Learn more</a>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-5">
      <i class="fas fa-calendar-plus fa-4x"></i>
      <h3>Combine multiple feeds</h3>
      <p>Easily add multiple iCalendar feeds to your calmerge account and subscribe to the merged feed using your calendar client (e.g. Google Calendar).</p>
    </div>
    <div class="col-md-4 mb-5">
      <i class="fas fa-clock fa-4x"></i>
      <h3>Save time</h3>
      <p>Calmerge saves you time by eliminating the need to check multiple calendars or manually merge events. Stay organized and never miss an important event again.</p>
    </div>
    <div class="col-md-4 mb-5">
      <i class="fas fa-list-ul fa-4x"></i>
      <h3>Keep track of events</h3>
      <p>Calmerge makes it easy to keep track of events from multiple sources in one place. You can view all your events in a single calendar, making it easier to stay organized and never miss an important event again.</p>
    </div>




{% endblock %}
